/*******************************************PÁGINA NOSOTROS************************************/

.main-nosotros {
    border: 3px solid #929292;
    color: #1c1c1c;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Futura Bold Italic";
    margin: 80px 15px;
    padding: 20px;
  }
  
  .div-nosotros h1 {
    font-size: 40px;
    background-color: #ec4402;
  }
  