/*******************************************PÁGINA NUESTRO MENU***********************************/
/*******************MAIN*******************/

.section-nuestromenu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .nuestromenu {
    display: flex;
    flex-direction: row;
    border: 3px solid #929292;
    margin: 40px 10%;
  
    /* height: 50vh; */
  }
  
  .servicios-img {
    width: 40%;
  }
  
  .nuestromenu-p {
    background-color: rgba(22, 22, 22, 0.874);
    border: 2px solid #fc5203;
    color: #e75e02;
    margin: 1%;
    padding: 10%;
  }
  
  .img-menudelacasa {
    order: 2;
  }
  