/*******************************************PÁGINA SERVICIOS***********************************/
/*******************MAIN*******************/

.section-servicios {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .servicios-div {
    display: flex;
    flex-direction: row;
    border: 3px solid #929292;
    margin: 40px 10%;
  
    /* height: 50vh; */
  }
  
  .nuestromenu-img {
    width: 40%;
  }
  
  .servicios-p {
    background-color: rgba(22, 22, 22, 0.874);
    border: 2px solid #fc5204;
    color: #ececec;
    margin: 1%;
    padding: 10%;
  }
  
  .img-cambio2 {
    order: 2;
  }
  